{% assign title = "sarah fossheim" | split: "" %}

<header>
    <h1 class="scatter" aria-label={{title}}>
        {% for char in title %}<span aria-hidden="true">{{char}}</span>{% endfor %}
    </h1>
</header>